/* For Desktop View */
@media screen and (min-width: 768px) {
    .text-body-emphasis{
        background-image: url(https://img.freepik.com/free-photo/indulgent-milkshakes-desserts-sweet-chocolate-berry-fruits-creamy-refreshment-generative-ai_188544-12125.jpg);
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        background-size:cover; 
        height:37rem;
        background-repeat: no-repeat;
        background-position-y:center ;
    }

    .cafe-name{
        margin-top: 8rem!important;
    }

    .menu-im{
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .main-men{
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        text-align: center!important;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }

}

/* For Mobile Portrait View */
@media screen and (max-width: 768px) {
    .text-body-emphasis{
        background-image: url(https://img.freepik.com/free-photo/indulgent-milkshakes-desserts-sweet-chocolate-berry-fruits-creamy-refreshment-generative-ai_188544-12125.jpg);
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        background-size: 100%;
        height:30rem;
        background-repeat: no-repeat;
    }

    .cafe-name{
        margin-top: 4rem!important;
    }

    .menu-im{
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-items: center;
        padding: 1rem;
    }
    
    .main-men{
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        text-align: center!important;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }
}

