/* For Desktop View */
@media screen and (min-width: 768px) {
    .text-body-emphasis{
        background-image: url(https://img.freepik.com/free-photo/close-up-hookah-vaping_23-2149297125.jpg?w=1060&t=st=1704397963~exp=1704398563~hmac=2bcd461dd36824bae75f4a8a5fe13f9123a951dcee332d6d4a144138001a0f47);
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        background-size:cover; 
        height:37rem;
        background-repeat: no-repeat;
        background-position-y:center ;
    }

    .cafe-name{
        margin-top: 8rem!important;
    }

    .menu-im{
        background-image: url(https://img.freepik.com/free-photo/spotlight-shining-down-into-grunge-interior_1048-6921.jpg?w=740&t=st=1704401432~exp=1704402032~hmac=5f72de9c24eb5b07ef7ca201f01d9f6074249e348ded534edd5ea0a2216b0c4e);
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .main-men{
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        text-align: center!important;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }

}

/* For Mobile Portrait View */
@media screen and (max-width: 768px) {
    .text-body-emphasis{
        background-image: url(https://img.freepik.com/free-photo/close-up-hookah-vaping_23-2149297125.jpg?w=1060&t=st=1704397963~exp=1704398563~hmac=2bcd461dd36824bae75f4a8a5fe13f9123a951dcee332d6d4a144138001a0f47);
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        background-size:cover; 
        height:25rem;
        background-repeat: no-repeat;
        background-position-y: -5rem;
        background-position-x: -3rem;

    }

    .cafe-name{
        margin-top: 4rem!important;
    }

    .menu-im{
        background-image: url(https://img.freepik.com/free-photo/spotlight-shining-down-into-grunge-interior_1048-6921.jpg?w=740&t=st=1704401432~exp=1704402032~hmac=5f72de9c24eb5b07ef7ca201f01d9f6074249e348ded534edd5ea0a2216b0c4e);
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-items: center;
        padding: 1rem;
    }
    
    .main-men{
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        text-align: center!important;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }
}

