/* For Desktop View */
@media screen and (min-width: 768px) {
    .text-body-emphasis{
        background-image: url(https://wallpapers.com/images/hd/chocolate-lava-cake-desserts-lcpcrc1nulz9kp5e.jpg);
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        background-size:cover; 
        height:37rem;
        background-repeat: no-repeat;
        background-position-y:center ;
    }

    .cafe-name{
        margin-top: 8rem!important;
    }

    .menu-im{
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    
    .main-men{
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        text-align: center!important;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }

}

/* For Mobile Portrait View */
@media screen and (max-width: 768px) {
    .text-body-emphasis{
        background-image: url(https://us.123rf.com/450wm/grafvision/grafvision2303/grafvision230300327/200451792-melting-dark-chocolate-bonbon-3d-illustration-art-design.jpg?ver=6);
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        background-size: 100%;
        height:30rem;
        background-repeat: no-repeat;
    }

    .cafe-name{
        margin-top: 4rem!important;
    }

    .menu-im{
        background-attachment: fixed;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-items: center;
        padding: 1rem;
    }
    
    .main-men{
        display: flex;
        flex-direction: row;
        justify-content: center!important;
        text-align: center!important;
        align-items: center;
        justify-items: center;
        gap: 1rem;
    }
}

